@import "../../variables";

table {
    border: 2px solid $grid-border;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    background-color: $clear-cell-background; 

    &.beginner {
        .cell {
            height: $large-cell-size;
            width: $large-cell-size; 
            min-width: $large-cell-size;
            min-height: $large-cell-size;
        }
    }

    &.intermediate {
        .cell {
            height: $small-cell-size;
            width: $small-cell-size; 
            min-width: $small-cell-size;
            min-height: $small-cell-size;
        }

        // scale bigger for tablets and above
        @media (min-width: 768px) {
            .cell {
                height: $large-cell-size;
                width: $large-cell-size; 
                min-width: $large-cell-size;
                min-height: $large-cell-size;
            }    
        }
    }

    &.expert {
        .cell {
            height: $small-cell-size;
            width: $small-cell-size; 
            min-width: $small-cell-size;
            min-height: $small-cell-size;
        }

        // scale bigger for tablets and above
        @media (min-width: 768px) {
            .cell {
                height: $large-cell-size;
                width: $large-cell-size; 
                min-width: $large-cell-size;
                min-height: $large-cell-size;
            }    
        }
    }

    // general  
    .cell {             
        border: 1px solid $grid-border; 
        padding: 0;
    }
}

.game-state-info {
    margin: 0 auto;
    text-align: center;
    font-family: $mono-fonts;
    font-size: 1.2em;
}