<table *ngIf='gameState' class='{{gameState?.gridSize?.label}}'>
    <tbody>
        <tr *ngFor='let row of gameState.grid.grid'>
            <td app-minesweeper-game-cell class='cell' 
                *ngFor='let cell of row'
                (click)='onCellSelect($event, cell)' 
                (contextmenu)='onContextMenu($event, cell);'
                [mineCell]='cell' 
                [difficultyClass]='gameState?.gridSize?.label'></td>
        </tr>
    </tbody>
</table>
<div class='game-state-info mt-2 mt-sm-3 px-3'>
    <span *ngIf='gameState?.gameCompletionState == NEW || gameState?.gameCompletionState == STARTED'>mines remaining: {{gameState?.cellsRemaining}}</span>
    <span *ngIf='gameState?.gameCompletionState == COMPLETED'>You won! <span>😸</span> Check your score 
        <a *ngIf='gameState?.storedWinRecordId' 
            routerLink="/stats" 
            fragment='{{gameState?.storedWinRecordId}}'>here</a>
        <span *ngIf='!(gameState?.storedWinRecordId)'>....</span>
    </span>
    <span *ngIf='gameState?.gameCompletionState == FAILED'>Aww, you lost! <span>😿</span> Try again!</span>
</div>
