<div class='app-container container-sm stats-container'>
    <div class='row'>
        <div class='col-12 p-1 p-sm-3 py-sm-2 g-sm-2'>
            <table class="table table-striped table-borderless">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">user</th>
                        <th scope="col">game</th>
                        <th scope="col">time (s)</th>
                    </tr>
                </thead>
                <tbody class='opacity-animation' *ngIf='statistics' [class.fadeIn]='statistics'>
                    <tr *ngFor='let record of statistics?.data' [attr.doc-id]='record.docid' [attr.user-uid]='record.uid'>
                        <td>
                            <a href="#{{record.docid}}"></a>{{record.pagerankid}}
                        </td>
                        <td>{{record.name}}</td>
                        <td><span [innerHTML]="record.gamealias"></span> {{record.gametype}}</td>
                        <td>{{(record.time / 1000).toFixed(1)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='col-12 p-1 p-sm-3 py-sm-2 g-sm-2 content-justify-center' *ngIf='statistics && (statistics?.hasPrev || statistics?.hasNext)'>
            <nav aria-label="...">
                <ul class="pagination pagination">
                    <li [class.disabled]='!statistics || !(statistics?.hasPrev)' class="page-item" title="show me the previous scores" (click)='getPrev()'>
                        <a class="page-link" routerLink="/stats">&lt; prev</a></li>
                    <li [class.disabled]='!statistics || !(statistics?.hasNext)' class="page-item" title="show me the next scores" (click)='getNext()'>
                        <a class="page-link" routerLink="/stats">next &gt;</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>