@import "../../variables";

.app-container {
    max-width: $max-outer-col-width;
}

.stats-container {
    @-webkit-keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
     }
     
     @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
     }

    .opacity-animation {
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

        &.fadeIn {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
        }
    } 
}