<div class='app-container container-sm'>
    <div class='control-container row'>
        <div class='col-12 col-sm-4 p-1 p-sm-3 g-sm-2'>
            <select class='form-select' [(ngModel)]="selectedGridSize">
                <option *ngFor='let opt of availableGridSizes' [ngValue]='opt'>{{opt.label}} ({{opt.width}}x{{opt.height}}, {{opt.mines}} mines)</option>
            </select>
        </div>
        <div class='col-12 col-sm-8 p-1 p-sm-3 g-sm-2 d-flex game-state-controls'>
            <input type="button" value='new game' class='btn btn-outline-primary me-2' (click)="onNewGame()" />     
            <div class='btn-group me-2'>
                <input type="button" value='auto win' class='btn btn-outline-secondary' 
                    [class.disabled]='!mineGameState' title='Doogal is cool' (click)='onAutoWin()'/>
                <input type="button" value='auto lose' class='btn btn-outline-secondary' 
                    [class.disabled]='!mineGameState' title="I'm tired, let me die" (click)='onAutoLose()'/>
            </div>
            <div class='btn-group flex-grow-1 justify-content-end justify-content-sm-start'>
                <input type="button" title='explain to me what the hell is going on!' value='?' 
                class='btn btn-outline-info flex-grow-0 help-control' (click)='onHelp()' />
            </div>
        </div>
    </div>
    <div class='grid-container row'>
        <div class='grid col-12 user-select-none py-4 px-0'>     
            <app-minesweeper-game *ngIf='mineGameState' [gameState]='mineGameState'></app-minesweeper-game>                
        </div>            
    </div>
</div>
