@import "../../variables";

.app-container {
    max-width: $max-outer-col-width;

    .game-state-controls {
        .sticky {
            position: fixed;
            top: 10;
            right: 0;
            width: 100px;
            margin-top:1em;    
            z-index: 100;
        }
    }    
}


