<div class='app-container container-sm'>
    <div class='control-container row'>
        <div class='col-12 col-sm-4 p-1 p-sm-3 g-sm-2'>
            <select class='form-select' [(ngModel)]="selectedGridSize">
                <option *ngFor='let opt of availableGridSizes' [ngValue]='opt'>{{opt.label}} ({{opt.width}}x{{opt.height}}, {{opt.mines}} mines)</option>
            </select>
        </div>
        <div class='col-12 col-sm-8 p-1 p-sm-3 g-sm-2'>
            <input type="button" value='new game' class='btn btn-outline-primary' (click)="onNewGame()" />&nbsp;     
            <div class='btn-group'>
                <input type="button" value='auto win' class='btn btn-outline-secondary' (click)='onAutoWin()'/>
                <input type="button" value='auto lose' class='btn btn-outline-secondary' (click)='onAutoLose()'/>
            </div>
        </div>
    </div>
    <div class='grid-container row'>
        <div class='grid col-12 user-select-none py-4 px-0'>     
            <app-minesweeper-game *ngIf='mineGrid' [generatedGrid]='mineGrid'></app-minesweeper-game>
        </div>
    </div>
</div>